Click==7.0
croniter==0.3.30
Django==1.11.17
django-environ==0.4.5
django-rq==2.1.0
python-dateutil==2.8.1
pytz==2019.3
redis==3.3.11
rq==1.1.0
https://github.com/oxalorg/rq-scheduler/archive/feature-multi-schedulers.zip
six==1.13.0
